@font-face {
 font-family: "Garamond";
 src: url("../font/Garamond Bold.ttf");
}

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-image: url(../img/1.jpg);
	font-family: "Garamond";

}

.navbar {
	border-bottom: solid 2px yellow;

}

.nav-link{
	font-size: 2em;
  letter-spacing: 2px;
  color: black;
	margin-left: 15px;
}

.titre{
	font-size: 3em;
	border-bottom: solid 2px yellow;
	margin-left: 2%;
	margin-right: 2%;
  margin-top: 55px;

}

.texte{
	text-align: center;
	font-size: 2em;
	margin-left: 10%;
	margin-right: 10%;
}

.carte{
	box-shadow: 5px 5px 15px 5px gray;

}

.carousel-caption{
	background-color:rgba(0, 0, 0, 0.6);
}

.orange{
	background-color: rgb(223 203 0);
	border: solid 1px black;
}

.btn{
	background-color: rgb(223 203 0);
	color: black;
	border: solid rgb(223 203 0);
}

.titre2{
	text-align: center;
	font-family: "Garamond";
	font-size: 1.5em;
}

.contact{
	text-align: center;
	font-family: "Garamond";
}

.photo{
	width: 200px;
	clip-path: ellipse(50% 50%);
	 display: block;
   margin : auto;
}

.btn2{
	 display: block;
	 width: 200px;
   margin : auto;
   background-color: rgb(223 203 0);
   margin-bottom: 50px;

}

.bg-transparent{
	border: none;
}

.para{
	margin-left: 15%;
	margin-right: 15%;
	border-top: solid 2px rgb(223 203 0);
	padding-bottom: 3%;
	padding-top: 3%;
}

h2{
	text-align: center;
}

.description{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

#accordion{

	margin: 10%;
}



.reseau{
	display: block;
	margin: auto;
}

.bg{
  background-color: white;
}
.bien{
  margin-bottom: 28%;
}


.foot{
  margin-top: 40px;
}
